* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    height: 70px;
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

header h2 {
    color: white
}

nav li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.homeBackground {
    background: url('../images/home.jpg') no-repeat center top/cover;
    height: 90vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

.homeBackground::before {
    content: "";
    background-color: black;
    width: 100vw;
    height: 90vh;
    position: absolute;
    opacity: 0.7;
}

.dmargin {
    color: white;
    position: relative;
    z-index: 2;
}

.para {
    margin-top: 15px;
}

.homeTitle {
    font-size: 25px;
}

.container {
    width: 60vw;
    display: flex;
    justify-content: space-around;
}

input {
    display: inline-block;
    position: relative;
    z-index: 8;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.regisBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

input[type="submit"] {
    width: 100%;
    display: inline-block;
    margin: auto;
}
.regisBackground > h1{
    margin-bottom: 15px;
}