<header>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="addnotes">Add Notes</a></li>
        <li><a href="/yournotes">Your Notes</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </nav>
    <div>
        <input type="text" name="" placeholder="Search" id="navSearch">
        <button class="navBtn">Search</button>
    </div>
</header>