<header>
    <div class="title"><h2>Technical Aamir</h2></div>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/secret">Secret</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">logout</a></li>

    </nav>
</header>