<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Welcome to our website</title>
</head>

<body>
    {{>navbar}}
    <section id="home">
        <div id="content" class="beOnTop">
            <h1 id="title" class="beOnTop">Store Your Personal <span style="color: #a3a3ff;">Notes</span> Online</h1>
            <p id="para" class="beOnTop">You can store your notes online for free. Please register for more information.
                If you once register and login you will be able to store your notes</p>
            <button id="homeBtn" class="navBtn"><a href="/register">Register Now</a></button>
        </div>
    </section>
</body>

</html>