<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Logout Successfully</title>
</head>
<body>
    {{>navbar}}
    <section id="logout">
        <div id="logoutContent" class="beOnTop">
            <h1>Logout Successfully!</h1>
        </div>
    </section>
</body>
</html>
