<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Our Website</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <section class="homeBackground">
        <div class="homeTitle dmargin"><h1>This is my secret webpage for vip users</h1></div>
        <div class="para dmargin">Hello, this website is made by Aamir. He is a software developer and a freelancer. He used HTML, CSS, Node.js, Express.js, Mongoose.js And Mongodb to create this website</div>
    </section>
</body>
</html>