<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>header}}
    <div class="container">
        <div id="myPicture">
        </div>
        <div class="left extraPad rocking">
            <p class="dmargin text">Welcome To Weather World</p>
            <h1 class="dmargin dline changing">I AM A <span class="changeColor">MERN Stack Developer</span> And <span class="changeColor">Freelancer</span></h1>
            <a class="dmargin" id="check" target="_blank" href="https://www.facebook.com/profile.php?id=100077478429547"><button class="btn1 text">About Me</button></a>
        </div>
    </div>
    {{>footer}}
    {{>logic}}
</body>
</html>