<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>header}}
    <div class="container">
        <div class="left">
            <p class="dmargin">Welcome To Weather App</p>
            <h1 class="dmargin dline">Get The Latest <span id="changeColor">Weather</span> Info Of Your City</h1>
            <a class="dmargin" id="check" href="/weather"><button>Check Now</button></a>
        </div>
        <div class="chan" id="right">
        </div>
    </div>
    {{>footer}}
    {{>logic}}
</body>
</html>